body {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Container & Body*/


/*Section Wide Design*/

.container-fluid {
    position: relative;
    width: 100%;
    max-width: 1600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
    Header Section
*/

/*#header {
    background-image: url("../images/header.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 100vh;
    margin: 0;
}*/

.header_text span {
    position: relative;
    left: 100px;
    top: 100px;
}

.header_text span {
    transform: translate(-50%, -50%);
    color: whitesmoke;
    letter-spacing: 7.5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    width: 100%;
}
#role span {
    color: whitesmoke;
    letter-spacing: 3px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/*#name span {
    color: whitesmoke;
    letter-spacing: 7.5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    top: 100px;
    left: 100px;
    width: 100%;
    float: left;
}*/

/*#role p {
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
}*/




/*nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    text-align: center;
    margin-top: 38px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#nav_bar li {
    padding-top: 20px;
    padding-bottom: 10px;
}*/


/*
    About Section
*/

#about_quote {
    margin: 50px 100px 50px 100px;
    text-align: center;
}

#job_quote {
    margin-bottom: 50px;
}

#about_text {
    margin: 50px 225px 100px 225px;
    text-align: center;
}

#about_text h2 {
    font-size: 40px;
}

#about_text h5 {
    line-height: 175%;
    font-size: 20px;
}


/*
    Projects Section
*/

#tools_quote {
    margin: 50px 100px 50px 100px;
    text-align: center;
}

#tools_quote_text {
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#languages,
#substance_style {
    text-align: center;
}

#substance_style_icons,
#languages_icons {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#substance_style_icons img,
#languages_icons img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 100px;
    width: auto;
    text-align: center;
    /*widows: auto;*/
}

.float_center {
    left: -50%;
    /* or right 50% */
    text-align: center;
}

.float_center > .child {
    position: relative;
    /*left: 50%;*/
}

.clear {
    clear: both;
}

#projects_text {
    margin: 100px 225px 100px 225px;
    text-align: center;
}


/**/


/*Contact Section*/


/**/

#social_media_icons {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#social_media_icons img {
    margin: 15px;
    height: 80px;
    width: auto;
}

#contact_text {
    margin: 100px 225px 100px 225px;
    text-align: center;
}

#contact_text h3 {
    line-height: 200%;
}


/*
    Footer Section
*/


/**/

#foot_image {
    height: 100px;
    background-image: url("../images/wood_foot_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 25px;
    color: white;
    font-size: 20px;
}

.container p {
    font-size: 20px;
}

.container a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FF5252;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
}

.container a:after {
    content: '';
    position: absolute;
    background: #FF5252;
    height: 2px;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    -webkit-transition: .35s ease;
    transition: .35s ease;
}

.container a:hover:after,
.container a:focus:after,
.container a:active:after {
    width: 100%;
}


/*h1 {
  position: relative;
  text-align: center;
  font-family: 'Vollkorn', serif;
}*/

.button_container {
    position: fixed;
    top: 5%;
    right: 2.5%;
    height: 30px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    
}

.button_container:hover {
    opacity: .7;
}

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: saddlebrown;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 11px;
}

.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: fixed;
    background-image: url("../images/wood_foot_image.jpeg");
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index: 4;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    /*font-family: 'Vollkorn', serif;*/
    font-weight: 400;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}