body {
    margin: 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.container-fluid {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

h1 {
    color: whitesmoke;
    position: absolute;
    top: 100px;
    width: 100%;
}

h1 span {
    color: whitesmoke;
    letter-spacing: 3px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h2 {
    color: whitesmoke;
    position: absolute;
    top: 175px;
    left: 100px;
    width: 100%;
}

h2 span {
    color: whitesmoke;
    letter-spacing: 2px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    top: 175px;
    left: 100px;
}

nav {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#social_media_icons {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
}

#languages_icons img,
#substance_style_icons img {
    margin: 15px;
    height: 100px;
    width: auto;
    /*widows: auto;*/
}

#social_media_icons img {
    margin: 15px;
    height: 80px;
    width: auto;
}

#about,
#projects,
#contact,
#footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

#background_image,
#projects_image {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#about_text,
#projects_text,
#contact_text {
    margin: 100px 225px 100px 225px;
    text-align: center;
}

#about_quote {
    margin: 100px 200px 100px 200px;
    text-align: center;
}

#tools_quote {
    margin: 100px 200px 100px 200px;
    /*margin-right: 200px;*/
    text-align: center;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

#languages,
#substance_style {
    text-align: center;
}

#languages_icons,
#substance_style_icons {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#projects_text{
    margin: 100px 150px 100px 150px;
}

#foot_image {
    height: 100px;
    background-image: url("../images/wood_foot_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h6 {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    padding-left: 25px;
    color: white;
    font-size: 25px;
}